<div class="about-component">
    <header>
        <h1>{{ title }}</h1>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col col-6">
                    <div class="card">
                        <div class="card-block">
                            <p>Hubert Kurek</p>
                            <p>187127, KrDZIs3011Io, dzienne</p>
                        </div>

                    </div>
                </div>
                <div class="col col-6">
                    <div class="card">
                        <div class="card-block">
                            <p>Michał Ligęza</p>
                            <p>187127, KrDZIs3011Io, dzienne</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>