<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Search movie</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
            information.</p>
        <hr class="my-4">
        <input type="text" class="form-control mr-sm-2" placeholder="Search movie..." [(ngModel)]="query" (ngModelChange)="dynamicSearch()">
    </div>
</div>

<div class="results">
    <dynamic-search-box-item *ngFor="let result of results?.movies" [movie]="result" class="col-lg-6 d-inline-block"></dynamic-search-box-item>
</div>