<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 text-center">Flick</h1>
        <p class="lead">
            Find your favorite movies and TV shows.
        </p>
        <hr class="my-4">
        <input type="text" class="form-control mr-sm-2" placeholder="{{searchPlaceholder}}" [(ngModel)]="query" (ngModelChange)="dynamicSearch()">
    </div>
</div>

<div class="results">
    <movie-item *ngFor="let movie of results?.movies" [movie]="movie" class="col-lg-6 d-inline-block"></movie-item>
</div>