<li>
    <a [routerLink]="['/movie', movie.imdbid]">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md4">
                    <img src="{{movie.poster}}" alt="{{movie.title}} poster">
                </div>
                <div class="col col-md8">
                    {{ movie.title }} ({{ movie.year }})
                    <i>{{ movie.genre }}</i>
                    <p><small>{{ movie.director }}</small></p>
                </div>
            </div>
        </div>
    </a>
</li>