<div class="movie-component" *ngIf="loaded">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="moviePoster col-4">
                    <img src="{{ movie.Poster }}" alt="{{ movie.Title }} poster">
                </div>

                <div class="movieInfo col-8">
                    <div class="movieHeader container-fluid">
                        <h1>{{ movie?.Title }} ({{ movie?.Year }})</h1>
                        <small>
                            {{ movie?.Rated }} | {{ movie?.Genre }} | {{ movie?.Runtime }} | {{ movie?.Released }}
                    </small>
                    </div>
                    <div class="movieRatings container-fluid">
                        <div class="row">
                            <div class="col col-4" *ngIf="movie?.Ratings.length > 0">{{ movie?.Ratings[0].Source }}</div>
                            <div class="col col-4" *ngIf="movie?.Ratings.length > 1">{{ movie?.Ratings[1].Source }}</div>
                            <div class="col col-4" *ngIf="movie?.Ratings.length > 2">{{ movie?.Ratings[2].Source }}</div>
                        </div>
                        <div class="row">
                            <div class="col col-4" *ngIf="movie?.Ratings.length > 0">{{ movie?.Ratings[0].Value }}</div>
                            <div class="col col-4" *ngIf="movie?.Ratings.length > 1">{{ movie?.Ratings[1].Value }}</div>
                            <div class="col col-4" *ngIf="movie?.Ratings.length > 2">{{ movie?.Ratings[2].Value }}</div>
                        </div>
                    </div>

                    <div class="movieDetails container-fluid">
                        <p>Director: {{ movie?.Director }}</p>
                        <p>Writer: {{ movie?.Writer }}</p>
                        <p>Actors: {{ movie?.Actors }}</p>
                        <p>Plot: {{ movie?.Plot }}</p>
                        <p>Box Office: {{ movie?.BoxOffice }}</p>
                        <p>Production: {{ movie?.Production }}</p>
                        <p>Language: {{ movie?.Language }}</p>
                        <p>Country: {{ movie?.Country }}</p>
                        <p>Awards: {{ movie?.Awards }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="movieBody">
            <!--{{ movie.Plot }}-->
        </div>
    </div>
</div>