<div class="movie-component" *ngIf="loaded">
    <div class="row">
        <div class="movie-poster col-sm-4">
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }} poster" class="img-thumbnail">
        </div>

        <div class="movie-info col-sm-8">
            <div class="movie-header">
                <h1>
                    {{ movie?.Title }} ({{ movie?.Year }}) <span *ngIf="movie?.totalSeasons !== undefined">[Seasons: {{ movie?.totalSeasons }}]</span>
                </h1>
                <small>
                    {{ movie?.Rated }} | {{ movie?.Genre }} | {{ movie?.Runtime }} | {{ movie?.Released }}
                </small>
            </div>
            <div class="movie-ratings">
                <div class="row">
                    <div class="col-4" *ngIf="movie?.Ratings.length > 0">{{ movie?.Ratings[0].Source }}</div>
                    <div class="col-4" *ngIf="movie?.Ratings.length > 1">{{ movie?.Ratings[1].Source }}</div>
                    <div class="col-4" *ngIf="movie?.Ratings.length > 2">{{ movie?.Ratings[2].Source }}</div>
                </div>
                <div class="row">
                    <div class="col-4" *ngIf="movie?.Ratings.length > 0">{{ movie?.Ratings[0].Value }}</div>
                    <div class="col-4" *ngIf="movie?.Ratings.length > 1">{{ movie?.Ratings[1].Value }}</div>
                    <div class="col-4" *ngIf="movie?.Ratings.length > 2">{{ movie?.Ratings[2].Value }}</div>
                </div>
                <div class="row">
                    <div class="col-4">Flick rating</div>
                    <div class="col-4">Rate movie:</div>
                </div>
                <div class="row">
                    <div class="col-4">{{ flickRating?.avg }}</div>
                    <div class="col-4">
                        <div class="ratings" *ngIf="!addedMovieRating">
                            <a (click)="addMovieRating(movie?.imdbID, 1)">1</a>
                            <a (click)="addMovieRating(movie?.imdbID, 2)">2</a>
                            <a (click)="addMovieRating(movie?.imdbID, 3)">3</a>
                            <a (click)="addMovieRating(movie?.imdbID, 4)">4</a>
                            <a (click)="addMovieRating(movie?.imdbID, 5)">5</a>
                        </div>
                        <div class="ratings" *ngIf="addedMovieRating">
                            Saved
                        </div>
                    </div>
                </div>
            </div>

            <div class="movie-details">
                <p>Director: {{ movie?.Director }}</p>
                <p>Writer: {{ movie?.Writer }}</p>
                <p>Actors: {{ movie?.Actors }}</p>
                <p>Plot: {{ movie?.Plot }}</p>
                <p *ngIf="movie?.BoxOffice !== undefined">Box Office: {{ movie?.BoxOffice }}</p>
                <p *ngIf="movie?.BoxOffice !== undefined">Production: {{ movie?.Production }}</p>
                <p>Language: {{ movie?.Language }}</p>
                <p>Country: {{ movie?.Country }}</p>
                <p>Awards: {{ movie?.Awards }}</p>
            </div>
            <div class="actions">
                <button [disabled]="addedToFavorites" type="button" class="btn btn-large btn-info" (click)="addToFavorites(movie?.imdbID)">
                    {{ addedToFavorites ? 'Added to favorites' : 'Add to favorites' }}
                </button>
            </div>
        </div>
    </div>
    <div class="movie-body">
        <!--{{ movie.Plot }}-->
    </div>
</div>